# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# MLflow
mlruns/
mlflow.db

# DVC
/data/train_phase1.csv
/data/eval.csv
.dvc/cache/
.dvc/tmp/

# App Artifacts
models/
outputs/

# OS & IDE
.DS_Store
.vscode/
.idea/

# Security & Keys
*.pem
mlops_deploy
mlops_deploy.pub
Token.txt
lab_config.md

# Lab Metadata
HANDOFF.md